doctype html
html(data-ng-app='ClientApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(data-ng-controller='MainController')
    block content
    script(src='libs/angular/angular.min.js')
    script(src='javascripts/client.js')
    script(src='javascripts/controllers/mainCtrl.js')
